.header {
    background: $off-black ;
    margin-bottom: $xl-size;
    padding: $m-size;
    color: white;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}